<!DOCTYPE html>
<html>
{{>head}}
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/cuaca.png" alt="Gambar Cuaca">
        <img class="portrait" src="/img/fikri.jpg" alt="Hasanul Fikri">
    </div>
    {{>footer}}
</body>
</html>